{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<h3>Your token is {{ token }}</h3>
<p>
    <h3>Your Data Set</h3>
    {% for app in apps %}
    <div><a href="/{{app.getAccessKey()}}/graph/">{{ app.name }}</a> <button class="js-delete" type="button" name="{{app.getAccessKey()}}">Delete</button></div>
    {% endfor %}
</p>
<p>
    <h3>Shared Data Set</h3>
    {% for app in sharedApps %}
        {% if not app.deleted %}
            <div><a href="/{{app.getAccessKey()}}/graph/">{{ app.name }}</a></div>
        {% endif %}
    {% endfor %}
</p>
<p>
    <h3>Client Libraries</h3>
        <ul>
            <li><a href="/assets/connectors/php_client.zip" download>PHP</a></li>
        </ul>
</p>
{% endblock %}

{% block script %}
<script>
    var token = '{{ token }}';
    $(document).ready(function(){
        $(".js-delete").on("click", function(event){
            var accessKey = $(event.target).attr("name");
            if(window.confirm("Are you sure to delete this data set?")){
                $.ajax({
                    type: "DELETE",
                    url: "/api/v1/" + accessKey + "/?token=" + token
                }).done(function(data) {
                    alert( "Data set has been deleted");
                    location.reload();
                });
            }
        });
    });
</script>
{% endblock %}