<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock head %}
    {% block css %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% endblock %}
  </head>
  {% block body_wrapper %}
  <body>
    {% block body %}
    {% endblock %}
    {% block script_wrapper %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
      {% block script %}
      {% endblock %}
    {% endblock %}
  </body>
  {% endblock %}
</html>
