{% extends "base.html" %}
{% block title %}{{ app_name }}{% endblock %}
{% block body %}
<h1>Hello {{ app_name }}</h1>
<div ng-app="graphApp">
  <div ng-controller="graphCtrl">
  </div>
</div>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1', {packages:['corechart']});
</script>
<script>
  var graphModule = angular.module("graphApp", []);
  graphModule.constant('appId', '{{ app_id }}');
  graphModule.constant('token', '{{ token }}');
  graphModule.controller('graphCtrl', function hoge($scope, $http, appId, token) {
    $http.get("/api/v1/" + appId + "/data/",
              {
                params: {"token": token}
              })
     .success(function(data) {
       for(i = 0 ; i < data.rows.length; i++){
         data.rows[i].c[0].v = new Date(data.rows[i].c[0].v);
       }
       console.log(data);
       $scope.data = data;

       var t_data = new google.visualization.DataTable(data);
       var options = {
         title: appName
       };  

       var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
       console.log(chart);
       console.log(t_data);
       chart.draw(t_data, options);
     })
  });
</script>
{% endblock %}
